// $lightGray: #fdfdfd;
// $middleGray: #f9f9f9;
// $darkGrey: #606162;
$info: #2196f3;
$warning: #fb8c00;
$error: #ef1e41;
// $english_font: "Poppins", sans-serif;
// $Font: "Tajwal", sans-serif;
// $btn-rounded-border-radius: 5px;
// $skeleton-loader-card-heading-loader-heading-margin: 0px;


// :root {
//   --primary: #0cac9d;
//   --secondary:  #ff6121;
//   --light-primary: rgba(12, 172, 157, 0.1);
//   --light-secondary:#fdece4 ;
//   --shadow: rgba(33, 187, 173, 0.46);
//   --primary-radius: 8px;
// }