.auth{
    .v-sheet {
                margin-top: 5rem;

                    min-height: 400px;
                    min-width: 400px;
                    background-color: #8080800f !important;
            
    }

    .v-application--is-ltr .v-text-field .v-label{
        font-size: 20px !important;
    }
}